/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
html, body {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Flex container for centering the box */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Form container style */
.container {
  width: 60%; /* Increase the width of the form container */
  max-width: 600px; /* Set a max-width for larger screens */
  height: 50%;
  max-height: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the form elements */
form {
  margin-bottom: 30px; /* Added margin to the bottom */
}

label {
  margin-bottom: .5rem;
  display: block;
}

input[type="text"], input[type="submit"] {
  width: calc(100% - 20px); /* Full width minus padding */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #333;
  color: white;
}

/* Additional styles */
h1 {
  text-align: center;
  color: #333;
  margin: 0 0 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px; /* Add margin to the bottom */
}

