@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

@layer components {
    .footerbar-icon {
      @apply flex  
      hover:scale-110 transition-transform duration-300
      cursor-pointer shadow-lg ;
    }
}

.footerbar-hr {
    @apply bg-gray-600 dark:bg-gray-600 
    border border-gray-600 dark:border-gray-600 rounded-full
    mx-4;
    }

@layer components {
  .sidebar {
    @apply fixed top-0 right-0 h-full w-16 bg-gray-300 flex flex-col justify-start items-center pt-4;
  }
  .sidebar-icon {
    @apply w-full h-12 flex justify-center items-center hover:bg-gray-400 transition-colors duration-200 cursor-pointer;
  }
}
    



